@import url("../../../css/common/base.css");

.fault-desc{background: none;width:100%;color: #999999;padding-right:15px}

.inspect-fault-items{background: #ffffff;padding:0 0.4rem;margin-top: 0.1rem;}
.fault-code{background: url("../../../images/obd/obd_fault_warning_icon.png") no-repeat left;}
.fault-desc{margin: 0 !important;margin-right: 0.2rem !important;font-size: 0.38rem;}
